@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 100px;
}

h1{
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-self: center;
}

ul{
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 180px;
    height: auto;
}

ul li:nth-child(3n + 1){
    border-right: 3px black solid;
}

ul li:nth-child(3n){
    border-left:3px black solid;
}

ul li:nth-child(-n+6){
    border-bottom:3px black solid;
}

dialog{
    border-radius: 10px;
    height: 125px;
    width: 225px;
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 35px;
    font-size: 1.1rem;
}

button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 30px;
    font-size: 0.9rem;
    border-radius: 5px;
}
